<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ index .Strings .Item.ChildrenType }}</title>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }
        a {
            margin-bottom: .5em;
        }
        .item-language {
            text-transform: uppercase;
        }
    </style>
</head>
<body>
    <h1>{{ index .Strings .Item.ChildrenType }}</h1>
    <ul>
        {{ range $index, $first := .Item.Children }}
            <li>
                <a href='{{ $first.Name }}' class="item-{{ $first.Type }}">{{ $first.TranslatedName }}</a>
                <ul>
                    {{ range $index, $second := $first.Children }}
                        <li>
                            <a href='{{ $first.Name }}/{{ $second.Name }}' class="item-{{ $second.Type }}">{{ $second.TranslatedName }}</a>
                            <ul>
                                {{ range $index, $third := $second.Children }}
                                    <li>
                                        <a href='{{ $first.Name }}/{{ $second.Name }}/{{ $third.Name }}' class="item-{{ $third.Type }}">{{ $third.TranslatedName }}</a>
                                        <ul>
                                            {{ range $index, $forth := $third.Children }}
                                                <li><a href='{{ $first.Name }}/{{ $second.Name }}/{{ $third.Name }}/{{ $forth.Name }}' class="item-{{ $forth.Type }}">{{ $forth.TranslatedName }}</a></li>
                                            {{ end }}
                                        </ul>
                                    </li>
                                {{ end }}
                            </ul>
                        </li>
                    {{ end }}
                </ul>
            </li>
        {{end}}
    </ul>
</body>
</html>