<!--

The page context (top level '.' or '$.') is an 'catalog.Context' object:

type Context struct {
    PageTitle string      // suggested title for the page based on the 'PageType', after substitution
    PageType  string      // page type; possible values are 'TypeEnvironment', 'TypeProduct', 'TypeLanguage' and 'TypeVersion'
    Strings   StringMap   // object to perform substitutions; uses values from 'environment.strings'
    Items     []*MenuItem // array of items in this level
}

type MenuItem struct {
	Id         string // unique ID
	SortableId string // normalized ID to enable sorting
	Title      string // same as 'Id' or substitution
	Type       string // item type; possible values are 'TypeProduct', 'TypeLanguage', 'TypeVersion' and 'TypeFormat'
}

-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ .PageTitle }}</title>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }
        a {
            margin-bottom: .5em;
        }
        .item-language {
            text-transform: uppercase;
        }
    </style>
</head>
<body class="page-{{ .PageType }}">
    <h1>{{ .PageTitle }}</h1>
    <ul>
        {{- range .Items }}
            <li>
                <a href='{{ .Id }}' class="item-{{ .Type }}">{{ .Title }}</a>
            </li>
        {{- end}}
    </ul>
</body>
</html>